{{#if browseError}}
<div class="av-state-msg av-error">
  <i class="fa-solid fa-triangle-exclamation"></i> {{browseError}}
</div>
{{else if searchNoResults}}
<div class="av-state-msg">
  <i class="fa-solid fa-magnifying-glass"></i> {{localize "asset-vault.search.noResults"}}
</div>
{{else if noResults}}
<div class="av-state-msg av-empty">
  <i class="fa-solid fa-folder-open"></i> {{localize "asset-vault.content.empty"}}
</div>
{{else}}
<div class="av-items" data-view="{{viewMode}}"></div>
{{/if}}
