{{#if selectedFile}}
<div class="av-detail-preview-area">
  {{#if selectedFile.isImage}}
  <img class="av-detail-img" src="{{selectedFile.path}}" alt="{{selectedFile.name}}" />
  {{else if selectedFile.isVideo}}
  <video class="av-detail-video" src="{{selectedFile.path}}" controls></video>
  {{else if selectedFile.isAudio}}
  <audio class="av-detail-audio" src="{{selectedFile.path}}" controls></audio>
  {{else if selectedFile.isPdf}}
  <i class="fa-solid fa-file-pdf av-detail-type-icon"></i>
  {{else}}
  <i class="fa-solid fa-file av-detail-type-icon"></i>
  {{/if}}
</div>
<div class="av-detail-meta">
  <div class="av-detail-filename" title="{{selectedFile.name}}">{{selectedFile.name}}</div>
  <div class="av-detail-path" title="{{selectedFile.path}}">{{selectedFile.path}}</div>
  <div class="av-detail-filetype">{{selectedFile.fileType}}</div>
</div>
<div class="av-detail-actions">
  <button type="button" class="av-copy-btn" data-action="copyUrl">
    <i class="fa-solid fa-copy"></i> {{localize "asset-vault.actions.copyUrl"}}
  </button>
</div>
<div class="av-detail-tags">
  {{#if showAutoTags}}
  <div class="av-tags-section">
    <div class="av-tags-label">{{localize "asset-vault.tags.autoTagsLabel"}}</div>
    <div class="av-tags-list">
      {{#each selectedFile.autoTags}}
      <span class="av-tag av-tag--auto">{{this}}</span>
      {{/each}}
    </div>
  </div>
  {{/if}}
  <div class="av-tags-section">
    <div class="av-tags-label">{{localize "asset-vault.tags.userTagsLabel"}}</div>
    <div class="av-tags-list">
      {{#each selectedFile.userTags}}
      <span class="av-tag av-tag--user">
        {{this}}<button type="button" class="av-tag-remove" data-action="removeTag" data-tag="{{this}}">×</button>
      </span>
      {{/each}}
    </div>
    <div class="av-tag-input-row">
      <input type="text" class="av-tag-input" placeholder="{{localize "asset-vault.tags.addPlaceholder"}}" maxlength="50">
      <button type="button" class="av-tag-add-btn" data-action="addTag">{{localize "asset-vault.tags.add"}}</button>
    </div>
  </div>
</div>
{{/if}}
